<!doctype html>
<html lang="en" ng-app="bigdig">
<head>
  <meta charset="utf-8">
  <title>BigDig -- get your shovel-ready project off the ground</title>
  <link rel="stylesheet" href="/static/app/css/app.css"/>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATSyI7iJeU9RprbmcXvotWPMS97az0IHU&sensor=false">
    </script>
    <script type="text/javascript">
    // TODO(jmylen): This code needs to be refactored into a controller or view partial.
      var geocoder;
      var map;
      function initialize() {
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
          center: new google.maps.LatLng(37.7833, 122.4167),
          zoom: 2 
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
    </script>
</head>
<body>
  {% if user.is_authenticated %}<h1>Welcome {{ user }}</h1> {% endif %}
  <ul class="menu">
    <li><a href="#/">Home</a></li>
    <li><a href="#/add-project">Add Project</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a></li>
    {% endif %}
  </ul>

  <h1>BigDig</h1>

  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="/static/app/lib/angular/angular.js"></script>
  <script src="/static/app/lib/angular/angular-cookies.js"></script>
  <script src="/static/app/lib/angular/angular-route.js"></script>
  <script src="/static/app/lib/bootstrap-gh-pages/ui-bootstrap-tpls-0.7.0.min.js"></script>
  <script src="/static/app/js/app.js"></script>
  <script src="/static/app/js/services.js"></script>
  <script src="/static/app/js/controllers.js"></script>
  <script src="/static/app/js/filters.js"></script>
  <script src="/static/app/js/directives.js"></script>
</body>
</html>
