<!doctype html>
<html lang="en" ng-app="bigdig">
<head>
  <meta charset="utf-8">
  <title>BigDig -- get your shovel-ready project off the ground</title>
  <link rel="stylesheet" href="/static/app/css/app.css"/>
</head>
<body>
  {% if user.is_authenticated %}<h1>Welcome {{ user }}</h1> {% endif %}
  <ul class="menu">
    <li><a href="#/">Home</a></li>
    <li><a href="#/add-project">Add Project</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">logout</a></li>
    {% endif %}
  </ul>

  <h1>BigDig</h1>

  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="/static/app/lib/angular/angular.js"></script>
  <script src="/static/app/lib/angular/angular-route.js"></script>
  <script src="/static/app/lib/bootstrap-gh-pages/ui-bootstrap-tpls-0.7.0.min.js"></script>
  <script src="/static/app/js/app.js"></script>
  <script src="/static/app/js/services.js"></script>
  <script src="/static/app/js/controllers.js"></script>
  <script src="/static/app/js/filters.js"></script>
  <script src="/static/app/js/directives.js"></script>
</body>
</html>
