<div>
  <h2>Create a new project</h2>
</div>
<div>
  <form ng-submit="addProject()" class="form-horizontal" role="form" name="createProjectForm">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label input-lg">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control input-lg" name="title" placeholder="Title" ng-model="title" ng-minlength="5" required focus/>
        <span class="error text-danger" ng-show="createProjectForm.title.$error.minlength">Too short!</span>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea placeholder="Description" class="form-control" rows="8" required ng-model="description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="funding_goal" class="col-sm-2 control-label">Funding goal</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="funding_goal" placeholder="Funding goal (in $USD)" required ng-model="funding_goal"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-disabled="createProjectForm.$invalid">Create Project</button>
      </div>
    </div>
  </form>
</div>
