
<div class="jumbotron">
  <h1>Fix your city</h1>
  <p class="lead">
    <img src="images/city_park_pj.gif" alt="Pristine urban park"><br>
    Take action. Be heard. Local politics. Rethought.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/add-project">Kickstart a new project!</a></p>
</div>

<div class="row marketing">
  <h4>Bicycle Lanes</h4>
  <p>
   Add a new lane or widen existing ones.
  </p>

  <h4>Parklets</h4>
  <p>
    Get a parklet in your neighborhood!
  </p>
</div>

<h2>Current projects</h2>
<table class="table table-striped table-bordered table-condensed">
<thead>
  <th>Title</th>
  <th>Description</th>
  <th>Funding Goal</th>
</thead>
<tbody>
  <tr ng-repeat="project in projects">
    <td>{{project.title}}</td>
    <td>{{project.description}}</td>
    <td>{{project.funding_goal}}</td>
  </tr>
</tbody>
</table>

<div class="footer">
  <p>♥ingly made by the bigdig team</p>
</div>
