
<div class="jumbotron">
  <h1>Fix your city</h1>
  <img src="images/city_park_pj.gif" alt="Pristine urban park">
  <p class="lead">
    Take action. Be heard. Local activism. Rethought.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/#/add-project">Kickstart a new project!</a></p>
</div>

<div class="row marketing">
  <h4>Bicycle Lanes</h4>
  <p>
    Unite your friends in helping to improve your city's bike lanes.
  </p>
  <h4>Parklets</h4>
  <p>
    Build support in your neighborhood for a new parklet down the street.
  </p>
 <button ng-click="login()">Facebook Login</button>
 facebook status: {{fb_status}}</span>
 <button ng-click="sayMyName()">Say My Name</button>
</div>

<div class="footer">
  <p>♥ingly made by the bigdig team</p>
</div>

